/* 
This project attempts a mobile-first approach to the UI
*/

html {
    padding: 0; margin: 0;
}
body {
    padding: 0; margin: 0;
}

section, footer {
    padding-top: 10px; padding-bottom: 10px;
}

.content {
    padding: 0; margin: 0;
    background-color: black;
    width: auto;
}

nav {
    height: fit-content;
    display: flex;
    align-items: center;
    /* padding:10px; */

    background-color: rgb(187, 94, 27);
    z-index: 1; position: relative;
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav ul li {
    padding: 10px;
}

nav ul li:hover {
    background: black;
    color: white;
}

:where(nav) a {
    text-decoration: none;
}

.nav-container {
    margin-left:auto; padding: 0px 10px; margin-right: 10px;
}

/* Footer */
footer {
    display: flex;
    align-items: center; justify-content: center;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .content {
        background-color: gray;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .content {
        background-color: red;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content {
        background-color: blue;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .content {
        background-color: orange;
    }
}